.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .splide__slide {
  opacity: 0.3;
}


.splide__slide.is-active {
  opacity: 1;
}

ul{
  list-style-type:none;
}
.container{
  width:50%;
  animation: mymove 2s ease-in-out;  
}
.splide__track{  
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes popUp {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeOut {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes mymove {
  0%   {top: 0px; left: 0px; background: rgb(255, 255, 255);}
  25%  {top: 0px; left: 100px; background: rgb(0, 0, 0);}
  50%  {top: 100px; left: 100px; background: rgb(54, 54, 54);}
  75%  {top: 100px; left: 0px; background: rgb(131, 131, 131);}
  100% {top: 0px; left: 0px; background: rgb(255, 255, 255);}
  
}

